{% if site.giscus and site.giscus.repo-id != "" and site.giscus.category-id != "" and page.comments != false %}
<div class="comments">
  <script src="https://giscus.app/client.js"
          data-repo="{{ site.giscus.repo }}"
          data-repo-id="{{ site.giscus.repo-id }}"
          data-category="{{ site.giscus.category }}"
          data-category-id="{{ site.giscus.category-id }}"
          data-mapping="{{ site.giscus.mapping }}"
          data-reactions-enabled="{{ site.giscus.reactions-enabled }}"
          data-emit-metadata="{{ site.giscus.emit-metadata }}"
          data-input-position="{{ site.giscus.input-position }}"
          data-theme="{{ site.giscus.theme }}"
          data-lang="{{ site.giscus.lang }}"
          data-loading="lazy"
          crossorigin="anonymous"
          async>
  </script>
</div>
{% endif %}
