{% if site.gitalk %}
<div class="comments">
    <div id="gitalk-container"></div>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
    <script src="//woshisb.eu.org/js/gitalk.m.js"></script>
    <script>
        const gitalk = new Gitalk({
          clientID: "{{ site.gitalk.clientID }}",
          clientSecret: "{{ site.gitalk.clientSecret }}",
          repo: "{{ site.gitalk.repo }}",
          owner: "{{ site.gitalk.owner }}",
          admin: ["{{ site.gitalk.admin }}"],
          id: '{{ page.path }}',      // Ensure uniqueness and length less than 50
          distractionFreeMode: true,  // Facebook-like distraction free mode
          title: "{{ page.title }}",
          language: "zh-CN",

        })
        
        gitalk.render('gitalk-container')
    </script>
</div>
{% endif %}
