
//
// VARIABLES
//

// 基础主题切换变量
:root {
  // 浅色模式变量
  --oc-gray-0: #f8f9fa;
  --oc-gray-1: #f1f3f5;
  --oc-gray-2: #e9ecef;
  --oc-gray-3: #dee2e6;
  --oc-gray-4: #ced4da;
  --oc-gray-5: #adb5bd;
  --oc-gray-6: #868e96;
  --oc-gray-7: #495057;
  --oc-gray-8: #343a40;
  --oc-gray-9: #212529;
  
  --oc-blue-0: #e8f7ff;
  --oc-blue-6: #228ae6;
  --oc-blue-8: #1b6ec2;
  --oc-indigo-9: #364fc7;
}

// 深色模式变量
body.dark-mode {
  --oc-gray-0: #212529;
  --oc-gray-1: #343a40;
  --oc-gray-2: #495057;
  --oc-gray-3: #6c757d;
  --oc-gray-4: #adb5bd;
  --oc-gray-5: #ced4da;
  --oc-gray-6: #dee2e6;
  --oc-gray-7: #e9ecef;
  --oc-gray-8: #f1f3f5;
  --oc-gray-9: #f8f9fa;
  
  --oc-blue-0: #444d56;
  --oc-blue-6: #80acff;
  --oc-blue-8: #81a6ed;
  --oc-indigo-9: #9775fa;
}

// Colors
$blue: var(--oc-blue-8);

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Fonts
$base-font: 'Noto Serif', 'PT Serif', source-han-serif-sc, 'Source Han Serif', 'Songti SC', serif;
$code-font: 'Menlo', 'Courier New', 'Monaco', monospace;

// Font sizes
$base-font-size: 16px;
$small-font-size: 14px;

// Colors
$base-color: var(--oc-gray-8);
$base-lighten-color: var(--oc-gray-6);
$base-lightener-color: var(--oc-gray-4);

$background-color: var(--oc-gray-0);
$background-lighten-color: #f8f9fa6b;

$text-color: var(--oc-gray-8);
$link-color: var(--oc-blue-8);
$link-lighten-color: var(--oc-blue-6);
$link-bghv-color: var(--oc-blue-0);
$divider-color: var(--oc-gray-2);

$error-color: var(--oc-blue-8);

$table-border-color: var(--oc-gray-2);
$table-background-color: var(--oc-gray-1);

$blockquote-color: $base-lighten-color;
$blockquote-border-color: var(--oc-gray-3);

$footnote-link-border-color: var(--oc-gray-1);
$footnote-link-background-over-color: var(--oc-gray-1);

$selection-background-color: var(--oc-gray-3);

$tag-index-label-background-color: var(--oc-gray-2);
$tag-index-count-background-color: #868e961a;

$footer-border-color: var(--oc-gray-2);
$footer-background-color: var(--oc-gray-0);

// List
$li-bottom-space: 0.4em;
$li-bullets-width: 1.4em;
$li-line-height: 1.55;

$ul-bullets-font: inherit;
$ul-bullets-font-size: 1.5em;
$ul-bullets-font-line-height: 1.2;
$ul-bullets-right-space: .3em;

$ol-bullets-font: inherit;
$ol-bullets-font-size: 1em;
$ol-bullets-font-line-height: inherit;
$ol-bullets-right-space: .3em;

$li-child-size-ratio: 0.95;

$dt-width: 180px;
$dt-dd-space: 20px;
$dd-position: $dt-width+$dt-dd-space;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 1200px) {
    @content;
  }
}