<!DOCTYPE html>
<html lang="zh-CN">
  {% include head.html %}
  <body>
    {% include nav.html %}

    {% if page.toc==true %}
      <aside class="toc" id="pageToc">
        {% include toc.html html=content %}
      </aside>
    {% endif %}

    <div id="main" role="main" class="wrapper-content{% if page.toc==true %} withtoc{% endif %}">
      <div class="container">
        {{ content }}
      </div>
    </div>

    {% if site.google_analytics %}
      {% include analytics.html %}
    {% endif %}

    <div class="wrapper-footer-mobile">
      <footer class="footer">
        {% include footer.html %}
      </footer>
    </div>

    {% include theme-toggle.html %}
    {% if page.toc==true %}
      {% include toc-toggle.html %}
    {% endif %}
  </body>
</html>
